/* for html2pdf to avoid cut div in two pages*/
div {page-break-inside: avoid}

.ai_table{ /* pour centrer les tables */
    margin-left:auto;
    margin-right:auto;
}

th, td {
  border: 2px solid black;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  padding: 2pt;
}

.Jour th, .Jour td {
  border: 2px solid black;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  padding: 2pt;
}

.Nuit th, .Nuit td {
  border: 2px solid white;
  border-right: 1px dotted white;
  border-left: 1px dotted white;
  padding: 2pt;
}

th .vertical:before {
   line-height:30px; 
   width:110px !important;
}

th .vertical{
    /*float: left;*/
    /*writing-mode: sideways-lr;*/
    text-align: left;          
    padding:0px;
    width:auto;
    /*width:120px;*/
    line-height:28px;
    /*display:inline-block;*/
    vertical-align:middle;
    -webkit-transform: rotate(270deg);   
    /*-webkit-transform-origin: 50% 50%; */
    
}

.ai_table {
  border-collapse: collapse;
}

.Nuit td, .Nuit th) {
    color:white;
}

.Jour (td,th) {
    color:black;
}

.Nuit th {
    background:#4d4d4d;
}

.noborder {
  border:0px !important; 
  }
  
.rightalign {
  text-align:right;
  }

input {
    background: #d5d7dd;
  }

select {
    background: #d5d7dd;
  }

/* for displaying array (when ai_demo=1) */
 
xmp { display:inline; }

/* simple css image gallery thanks to https://codepen.io/ran0904/pen/bNpLvX */
 
.gallery {
  width: 500px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  width:200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.biais { 
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);  
    transform:  rotate(-45deg);     
}
